.user-poll-setting-zone {
  text-align: left;
  .form-group-zone {
    margin-top: 10px;
  }
  .settings-clider {
    padding: 10px 20px 0 5px;
    .slider-title {
      margin-left: -5px;
    }
  }
}
