#new-sortitem {
  margin-top: 30px;
}
#close-new-sortitem-input {
  cursor: pointer;
}
.category-list-title {
  padding-right: 40px;
}
.sotable-add-zone {
  margin: 15px 0 0 10px;
  text-align: left;
}
.drag-hanler {
  cursor: row-resize;
}
.city-list-item-icon {
  min-width: 70px !important;
}