.batchinput-service-zone {
  text-align: left;
}
#contained-button-file {
  display: none;
}
.bachinput-add-zone {
  margin: 0px 0 0 0;
  text-align: left;
}
.batchinput-result-zone {
  padding: 20px 10px 0 10px !important;
}
