.question-card {
  min-width: 100%;
  margin: 5px 0 10px 0;
  text-align: left;
  .question-form-control {
    width: 100%;
  }
  .question-title {
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  .header-service-zone {
    margin-bottom: 5px;
  }
  .hide {
    color: rgba(0, 0, 0, 0.38);
  }
  .key-code {
    font-size: 15px;
    font-weight: 700;
    margin: 5px;
  }
}
.question-header {
  position: relative;
  display: flex;
}
.question-limit {
  cursor: default;
  font-size: 16px;
  font-weight: 800;
  position: absolute;
  top: -16px;
  right: -10px;
}
.question-title {
  font-size: 16px !important;
  color: black !important;
}
.radio-control-label {
  width: 100%;
  border-radius: 2px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  &:hover {
    background-color: #cde0ff;
  }
  .exclude-message {
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
.other-radio-label {
  .MuiFormControlLabel-label {
    width: 100%;
  }
}
.checkbox-control-label {
  width: 100%;
  padding: 0 0 0 10px;
  border-radius: 2px;
  position: relative;
  &:hover {
    background-color: #cde0ff;
  }
  .checkbox {
    padding-left: 10px;
  }
  .exclude-message {
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
.other-check-label {
  .MuiFormControlLabel-label {
    width: 100%;
  }
}
.answer-selected {
  font-weight: 700;
}
.control-button {
  margin: 5px !important;
}
