.result-service-zone {
  text-align: left;
  margin: 0 0 15px 0;
  .header {
    padding: 10px 10px 10px 0;
  }
}
.respondent-card {
  padding: 0 5px 0 5px;
  min-height: 210px;
  position: relative;
}

