.primary {
  background-color: aliceblue !important;
}
.distr-input {
  width: 40px;
  margin: 0 5px 0 5px;
}
.accordition-answer {
  display: flex;
  padding: 5px;
}
.even {
  background-color: rgb(216, 230, 230);
  border-radius: 2px;
}
