.question-item {
  color: rgba(0, 0, 0, 0.54);
  padding: 8px;
  text-align: center;
  cursor: grab;
  max-height: 120px;
  min-height: 120px;
  .question-title {
    font-size: 12px !important;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.question-limit-input {
  max-width: 15px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
