.common-settings {
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: left;
  // .poll-info {
  //   font-weight: 800;
  // }
  .question-card {
    min-width: 100%;
    margin: 0 0 10px 0;
    .question-number {
      padding-right: 5px;
    }
    .question-header {
      position: relative;
      display: flex;
    }
    .info-icon {
      cursor: pointer;
      font-size: 20px;
      vertical-align: top;
    }
    .question-title {
      align-items: center;
      font-size: 16px !important;
      color: black !important;
    }
    .question-limit {
      cursor: default;
      font-size: 16px;
      font-weight: 800;
      position: absolute;
      top: -16px;
      right: -10px;
    }
  }
  .answer-card {
    padding: 0 !important;
    text-align: justify;
    border: grey solid 0.5px;
    border-radius: 2px;
    position: relative;
    .answer-code {
      font-size: 12px;
      color: black;
      font-weight: 700;
    }
    .answer-title {
      font-size: 14px;
    }
    .answer-extend {
      position: absolute;
      top: 2px;
      right: 10px;
    }
  }

  .invisible {
    background: repeating-linear-gradient(-60deg, #555 0, #555 0.5px, transparent 1px, transparent 6px);
  }
}
