.answer-wrap {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  background-color: #f8f9fa;
  border-radius: 2px;
  margin: 10px;
  font-size: 16px;
  padding: 12px 12px 12px 12px;
  &:hover {
    background-color: rgba(224, 224, 224, 0.856);
    cursor: pointer;
    // color: white;
  }
  box-shadow: 0.2em 0.2em 5px rgba(122, 122, 122, 0.5);
  position: relative;
}

.selected {
  background-color: #d3d3d3;
  font-weight: 700;
}

.answer-data {
  display: flex;
}

.hidden {
  text-decoration: line-through;
}

.disabled {
  text-decoration: line-through;
}

.answer-key {
  font-size: 18px;
  font-weight: 600;
}

.answer-code {
  font-size: 10px;
  font-weight: 600;
  padding-top: 5px;
}

.answer-exclude-message {
  font-size: 10px;
  position: absolute;
  bottom: 2px;
  right: 5px;
}
.free-answer-icon {
  padding-left: 10px;
}