// стили компонентов
@import "./components/DialogWithSelect/dialogwithselect.scss";
@import "./components/ServiceMenu/servicemenu.scss";
@import "./components/AdaptiveTabs/adaptivetabs.scss";
@import "./components/SpeedDealFab/speeddeailfab.scss";

@import "./modules/PollHome/pollhome.scss";
@import "./modules/PollDrive/polldrive.scss";
@import "./modules/DataAnalyzer/analyser.scss";
@import "./modules/PollSettings/pollsettings.scss";
@import "./modules/PollResults/pollresults.scss";
@import "./modules/PollAppSettings/pollappsettings.scss";
@import "./modules/UserProfile/userprofile.scss";

@import "./modules/Users/users.scss";

html,
body,
#root,
.App {
  height: unquote("-webkit-calc(100% - 64px)");
  // height: 100%;
}
.category-service-zone {
  text-align: left;
}
.info-zone {
  margin-top: 15px;
  text-align: left;
  color: grey;
}