@import "./components/AnalyzedQuestion/analyzedquestion.scss";
@import "./components/AnswerDitribution/answerditribution.scss";
@import "./components/AnswerDitributionEx/answerditributionex.scss";
@import "./components/SimilarQuestion/similarquestion.scss";

.pagination-wrap-title {
  padding: 5px 10px 0 0;
}
.analitics-main-content {
  margin-top: 10px;
  text-align: left;
}
.analitics-main-question {
  margin-top: 10px;
  background-color: aliceblue;
}
.question-analytics {
  margin: 10px 0 0 0 ;
  .button-wrap {
    margin: 10px 0 10px 0;
  }
}
.pagination-item-saved {
  background-color: #4caf50 !important;
  color: #fff !important;
}
