@import "./components/Accordition/accordition.scss";

.pagination-wrap-title {
  padding: 5px 10px 0 0;
}
.analitics-main-content {
  margin-top: 10px;
  text-align: left;
}
.analitics-main-question {
  margin-top: 10px;
  background-color: aliceblue;
}
