.analyzed-question {
  background-color: aliceblue !important;
  .details {
    display: block;
    .column-one {
      flex-basis: 60%;
    }
    .column-two {
      flex-basis: 40%;
      min-width: 140px;
    }
  }
  .service-area {
    display: flex;
    .column-one {
      flex-basis: 60%;
    }
    .column-two {
      flex-basis: 40%;
      min-width: 140px;
      display: flex;
      .distr-reset {
        text-align: center;
        width: 48px;
        margin: 0 5px 0 5px;
        font-size: 12px;
        .count-wrap{
          min-height: 14px;
        }
      }
      .count-warning {
        color: red;
      }
    }
  }
}
